<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzd.dao.UserDAO">

<!--
    column 表示sql的字段名
    property 表示com.lzd.entity实体类中的定义的成员变量的名称
-->
    <resultMap id="UserMap" type="User">
        <id column="user_id" property="userId"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickName"/>
        <result column="realname" property="realName"/>
        <result column="user_img" property="userImg"/>
        <result column="user_mobile" property="userMobile"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_birth" property="userBirth"/>
        <result column="user_regtime" property="userRegisterTime"/>
        <result column="user_modtime" property="userModifiedTime"/>
    </resultMap>
<!--
    id指的是方法名，是命名空间中的唯一识别方式，
    命名空间指的是包(<mapper namespace="com.lzd.dao.EmployeeDAO">)
    parameterType：将会传入这条语句的参数类的完全限定名或者别名
    resultType指的是返回的期望的类的完全限定名
    resultMap引用外部的resultMap，更灵活

    resultMap和resultType不能同时使用


-->
    <select id="queryUserByUserName" resultMap="UserMap">
        select *
        from `users`
        where userName = #{userName}
        limit 0, 1
    </select>


</mapper>