<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>扫码付款页面</title>

		<link href="static/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="static/css/demo.css" rel="stylesheet" type="text/css" />
		<link href="static/css/cartstyle.css" rel="stylesheet" type="text/css" />
		<link href="static/css/optstyle.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="static/js/jquery.js"></script>

	</head>

	<body>
		<div id="container">
			<!--顶部导航条 -->
			<div class="am-container header">
				<ul class="message-l">
					<div class="topMessage">
						<div class="menu-hd" v-if="isLogin">
							{{username}},欢迎您
						</div>
						<div class="menu-hd" v-else>
							<a href="login.html" target="_top" class="h">亲，请登录</a>
							<a href="register.html" target="_top">免费注册</a>
						</div>
					</div>
				</ul>
				<ul class="message-r">
					<div class="topMessage home">
						<div class="menu-hd"><a href="index.html" target="_top" class="h">商城首页</a></div>
					</div>
					<div class="topMessage my-shangcheng">
						<div class="menu-hd MyShangcheng">
							<a href="user-center.html" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
						</div>
					</div>
					<div class="topMessage mini-cart">
						<div class="menu-hd">
							<a id="mc-menu-hd" href="shopcart.html" target="_top">
								<i class="am-icon-shopping-cart  am-icon-fw"></i>
								<span>购物车</span>
								<strong id="J_MiniCartNum" class="h"></strong>
							</a>
						</div>
					</div>
					<div class="topMessage favorite">
						<div class="menu-hd">
							<!--<a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a>-->
						</div>
					</div>
				</ul>
			</div>

			<!--悬浮搜索框-->

			<div class="nav white">
				<div class="logo"><img src="static/images/logo.png" /></div>
				<div class="logoBig">
					<li><img src="static/images/logobig.png" /></li>
				</div>

				<div class="search-bar pr">
					<a name="index_none_header_sysc" href="#"></a>
					<form>
						<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索"
							autocomplete="off">
						<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
					</form>
				</div>
			</div>

			<div class="clear"></div>

			<div style="background: lightgrey;width:1200px;height:600px;margin:0 auto;">
				<div v-if="orderInfo">
				<!-- <div > -->
					<hr>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<h3>
						订单编号：{{orderInfo.orderId}}
					</h3>
					<p>&nbsp;</p>
					<h3>
						订单金额：￥ {{orderInfo.totalPrice}}
					</h3>
					<hr />
					<div id="div1">
						<div id="payQrcodeDiv" style="width: 200px; height: 200px;">
						</div>
					</div>
				</div>
			</div>


			<!--底部 -->
			<div class="footer">
				<div class="footer-hd">
					<p>
						<a href="#">ZJUME商城</a>
						<b>|</b>
						<a href="#">商城首页</a>
						<b>|</b>
						<a href="#">支付宝</a>
						<b>|</b>
						<a href="#">物流</a>
					</p>
				</div>
				<div class="footer-bd">
					<p>
						<a href="#">关于ZJUME</a>
						<a href="#">合作伙伴</a>
						<a href="#">联系我们</a>
						<a href="#">网站地图</a>
						<em>©zjume.com 版权所有</em>
					</p>
				</div>
			</div>

			<!--操作页面-->
			<!-- <div class="theme-popover-mask"></div> -->
			<!--引导 -->
			<!-- <div class="navCir">
				<li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
				<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
				<li class="active"><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
				<li><a href="person/index.html"><i class="am-icon-user"></i>我的</a></li>
			</div> -->
		</div>

		<script type="text/javascript" src="static/js/cookie_utils.js"></script>
		<script type="text/javascript" src="static/js/vue.js"></script>
		<script type="text/javascript" src="static/js/axios.min.js"></script>
		<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="static/js/qrcode.min.js"></script>
		<script type="text/javascript" src="static/js/base.js"></script>


		<script type="text/javascript">
			var vm = new Vue({
				el: "#container",
				data: {
					username: "",
					isLogin: false,
					jsonstr: "",
					orderInfo: {}
				},
				
				
				
				
				//vue声明周期 ：  创建对象---beforeCreate---初始化data---created---加载模版---beforeMount---渲染数据---mounted
				created: function() {

					this.isLogin = true;
					this.username = getCookieValue("username");
					
					var storage = window.sessionStorage;  
					this.jsonstr = storage.getItem("orderInfo");
					this.orderInfo = eval("(" + this.jsonstr + ")");
					console.log(this.orderInfo);
				},
				mounted: function() {
				 	//渲染二维码
				
					var qrcode = new QRCode($("#payQrcodeDiv")[0], {
						width: 200,
						height: 200
					});
					qrcode.makeCode(this.orderInfo.payUrl);

					//前端发送websocket连接请求
					var webSocketUrl = webSocketBaseUrl + "webSocket/" + this.orderInfo.orderId;
					var websocket = new WebSocket(webSocketUrl);
					//只要后端通过websocket向此连接发消息就会触发onmessage事件
					websocket.onmessage = function(event) {
						var msg = event.data;
						if (msg == "1") {
							$("#div1").html("<label style='font-size:20px; color:green'>订单支付完成！</label>");
						}
					}

				// 	//轮询访问是否付款
				// 	/**
				// 	var oid = this.orderInfo.orderId;
				// 	var i = setInterval(function(){
				// 		console.log("-----");
				// 		var url = baseUrl+"order/status/"+oid;
				// 		axios({
				// 			url:url,
				// 			method:"get",
				// 			headers:{
				// 				token:getCookieValue("token")
				// 			}
				// 		}).then((res)=>{
				// 			if(res.data.data == "2"){
				// 				$("#div1").html("<label style='font-size:20px; color:green'>订单支付完成！</label>");
				// 				clearInterval(i);
				// 			}
				// 		});
				// 	},1000);**/
				
				
				}

			});
		</script>


	</body>

</html>
